<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/dash.css">
    <title>Admin Dashboard</title>
    <script src="https://kit.fontawesome.com/77487ce7a5.js" crossorigin="anonymous"></script>
</head>
<body>
    <div id="container">
        <nav>
            <figure>
                <img src="assets/logo3.jpg" alt="logo" srcset="" width="20%">
                <figcaption>brands logo</figcaption>
            </figure>
            <form action="" method="post">
                <input type="search" name="" placeholder="search product by category" id="">
                <button type="button">
                    <i class="fas fa-search"></i>
                </button>
            </form>
            <div id="profile">
                <img src="/assets/sample.jpg" alt="" srcset="" width="20%"><i class="fas fa-bell fa-2x"></i>
                <!-- <div class="profset">
                    <div class="settings">
                        <!-- settings 
                    </div>
                    <div class="logout">
                        <!-- logout 
                    </div>
                </div> -->
            </div>
        </nav>
        <!-- content -->
        <aside class="aside">
            <!-- dashboard pages -->
            <header>
                <h3>Admin Dashboard</h3>
                <i class="fas fa-bars fa-2x"></i>
            </header><hr>
            <fieldset>
                <legend>PAGES</legend>
                <div class="create">
                    <h3>Create Product</h3>
                    <ul type="none" class="hide">
                        <li><a href="#" id="allProducts">Products View</a></li>
                        <li><a href="#" id="pdtUp">Product Uploads</a></li>
                    </ul>
                </div>
                <div class="update">
                    <h3>Update Products</h3>
                </div>
                <div class="edit">
                    <h3>Edit Product</h3>
                </div>
                <div class="delete">
                    <h3>Delete Product</h3>
                </div>
            </fieldset>
            <fieldset>
                <legend>VIEW PAGES</legend>
                <div class="products">
                    <h3>Product Categories</h3>
                </div>
                <div class="electronics">
                    <h3>Electronics Products</h3>
                </div>
                <div class="wears">
                    <h3>Wears Product</h3>
                </div>
                <div class="groceries">
                    <h3>Groceries Product</h3>
                </div>
            </fieldset>
            <fieldset>
                <legend>SETTINGS</legend>
                <div class="admin profile">
                    <h3>Admins profile</h3>
    
                </div>
                <div class="settings">
                    <h3>Themes</h3>
                </div>
            </fieldset>
        </aside>
        <div class="viewpage">
            <!-- dashboard page view -->
            <div id="form">

            </div>
        </div>
        <footer class="foot">
            <div class="artisan">
                <i>Design With <i class="fas fa-heart fa-1.5x" style="color:red;">
                </i> of  Gold by <a href="#" style="text-decoration: none;color:grey;">SAYDOTECH</a></i>
            </div>
        </footer>
    </div>
    <script src="scripts/jquery.js"></script>
    <script src="scripts/dash.js"></script>
</body>
</html>