<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Register</title>
</head>
<body>
    <div id="container">
        <form action="/register" method="post">
            <h3>Sign Up For Free</h3>
            <div id="firstname">
                <input type="text" name="firstname" placeholder="firstname" title="enter your firstname" id="">
            </div>
            <div id="username">
                <input type="text" name="username" placeholder="username" title="enter your username" id="">
            </div>
            <div id="email">
                <input type="email" name="email" placeholder="email" title="enter your email" id="">
            </div>
            <div id="password">
                <input type="password" name="password" placeholder="password" title="enter your password" id="">
            </div>
            <div id="cpwd">
                <input type="password" name="cpwd" placeholder="confirm password" title="enter your password created" id="">
            </div>
            <div id="controls">
                <input type="submit" value="Register">
                <input type="reset" value="Reset">
            </div>
        </form>
    </div>
</body>
</html>