<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Register</title>
</head>
<body>
    <div id="container">
        <a href="/view/register">list all users</a>
        <a href="/delete-user">Delete</a>
        <form action="/login" method="post">
            <h3>login page</h3>
            <div id="email">
                <input type="email" name="email" placeholder="email" title="enter your email" id="">
            </div>
            <div id="password">
                <input type="password" name="password" placeholder="password" title="enter your password" id="">
            </div>
            <div id="controls">
                <input type="submit" value="Register">
                <input type="reset" value="Reset">
            </div>
            <h3>Sign Up To Create Account <a href="/register">Sign Up</a></h3>
        </form>
    </div>
</body>
</html>